<head>

    <title>Sparc Change - Actua's Social Action Project</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
