<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container">

        <a href="/home"><img id='nav-logo' src="/images/codemakers_transparent.png"/></a>

    </div>

</nav>
