<!DOCTYPE html>
<html>
{{>head}}

<body data-target=".navbar-fixed-top" data-spy="scroll">

{{>navbar}}

<div id='main' class="container">

    <div id="buffer" style="height:50px;"></div>

    <div class="row">
        <div class="col-xs-12">
            <p>{{status}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <form action="/admin/login" method="POST">
                <input type="text" value="" name='username' id="username"/>
                <input type="password" value="" name='password' id="password"/>
                <input type="submit"/>
            </form>

        </div>
    </div>

</div>

<script>
    $("#username").focus();
</script>


</body>
</html>