<!DOCTYPE html>
<html>
{{>head}}

<body data-target=".navbar-fixed-top" data-spy="scroll">

{{>navbar}}

<div id='main' class="container">

    <div id="" style="height:100px;"></div>

    <div class="row">
        <div class='col-sm-6'>
            To get your data from your Sparc Social Change device to the cloud you need the Sparc Connector.
        </div>
        <div class='col-sm-6'>
            <a href='/downloads/sparc-connector.zip'><button class='btn-success btn-lg'>Download Sparc Connector!</button></a>
        </div>
    </div>

</div>

</body>
</html>
