<!DOCTYPE html>
<html>
{{>head}}
<body>

<div id='landing-main' class="container">
    <div id="landing-buffer">
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 text-center">

            <img id='cm-logo' src="/images/codemakers_transparent.png">

            <h1>SPARC Change Social Action Project</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            </p>
            <a href="/home">
                <button id='enter-button' class="btn btn-lg">Enter Site</button>
            </a>
        </div>
    </div>

</div>

</body>
</html>
